div.player {
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    z-index: 100;
}

div.btn-player{
    position: fixed;
    z-index: 120;
    color: beige;
    top:  calc(50% - 71px);
    left: calc(50% + 130px);
}